// _404.scss
@import "constants";
@import "mixins";

.respond-header {
    display: none;
}

.error404 {
    display: flex;
    background-color: $respond-background-color;
}

.wrapper-error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
        font-size: 8em;
        color: #dcdcdc;
    }

    p {
        font-size: 24px;
        font-family: $main-font;
        color: $main-color-font;
    }

    a {
        font-size: 24px;
        font-family: $main-font;
        &:hover {
            border-bottom: 1px solid $link-color;
        }
    }

    i.fa-dizzy {
        font-size: 200px;
        color: $main-color-font;
        padding: 0 25px;
    }

    i.fa-backward {
        padding-right: 15px;
    }
}

#not-found-heading {
    text-transform: uppercase;
    font-size: 30px;
    color: $main-color-font;
}

#not-found-text {
    padding-top: 10px;
}