// _constants.scss

//Colors
$highlight-color-font: #850200;
$main-color-font: #333;
$footer-background-color: #e9dfdf;
$footer-text-color: #1a1a1a;
$menu-links-color: #1a1a1a;

//Fonts
$heading-font: 'Montserrat', sans-serif; 
$main-font: 'Open Sans', sans-serif;