// _constants.scss

//Colors
$heading-color-font: red;
$main-color-font: #333;
$footer-background-color: #333;
$footer-text-color: #fefefe;
$menu-links-color: #1a1a1a;

//Fonts
$heading-font: 'Montserrat', sans-serif; 
$main-font: 'Open Sans', sans-serif;