// _constants.scss

//Colors
$highlight-color-font: #850200;
$main-color-font: #333;
$footer-text-color: #1a1a1a;
$menu-links-color: #1a1a1a;
$link-color: #d30c09dc;
$footer-background-color: #bebebea8;
$respond-background-color: #ffffff;
$light-background-color: #fefefe;
$dark-background-color: #f1f1f1;

//Fonts
$heading-font: 'Montserrat', sans-serif; 
$main-font: 'Open Sans', sans-serif;

//Other
$box-shadow: 0 8px 8px rgba(37, 37, 37, 0.2);