// _respond-page.scss

@import "constants";
@import "mixins";

.respond-header {
    visibility: hidden;
}

.thank-you {
    display: flex;
}

.wrapper-thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
        font-family: $heading-font;
        font-size: 3em;
        margin-bottom: 10x;
    }

    a {
        font-family: $main-font;
        font-size: 24px;
        color: $link-color;
        padding-top: 10px;
        &:hover {
            border-bottom: 1px solid $link-color;
        }
    }

    i.fa-backward {
        padding-right: 5px;
    }

    i.fa-check-circle {
        font-size: 150px;
        color: $main-color-font;
        padding: 25px 0;
    }
}