/*
Theme name: gTheme
Author: theBumbs
Author URI: ;
Licence: ;
Licence URI: ;
Version: 1.1.1
Description: Personalized Wordpress theme for a local IT company.
*/

@import "constants";
@import "mixins";
@import "slider";
@import "404";
@import "respond-page";

/* General layout */
body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
    font-family: $heading-font;
    color: $main-color-font;
    margin: 0;
}

p {
    font-family: $main-font;
    color: $main-color-font;
    margin: 0;
}

a {
    text-decoration: none;
    color: $link-color;
    margin: 0;
    padding: 0;
    &:visited {
        color: $link-color;
    }
}

.container {
    flex: 1;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

/* Header */
header.home-header, header.page-header {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

header.page-header {
    position: initial;
    background-color: #fefefe;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/* Navigation menu */
.main-nav {
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        float: left;
        padding: 0 10px;
        font-size: 17px;
        font-family: $main-font;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        @include unfade(ease-in);
        &:hover {
            border-bottom: 2px solid $link-color;
            background-color: #f1f1f1;
            @include fade(ease-in);
        }
        &.current-menu-item {
            border-bottom: 2px solid $link-color;
            background-color: #f1f1f1;
        }
    }

    a {
        content: '';
        display: block;
        padding: 30px 10px 15px 10px;
        color: $menu-links-color;
    }
}

/* Front Page Layout */
.hero {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #f1f1f1;

    p {
        font-family: $heading-font;
        font-size: 30px;
        font-weight: 800;
        padding-bottom: 10px;
    }
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 1280px;
    margin: 0 auto;
    height: 80vh;
}

.section-news {
    background-color: #f1f1f1;

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
        margin: 35px 0;
    }
}

.articles {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
}

.recent-post {
    margin: 0 30px 50px 30px;
    width: 30%;
    height: 450px;
    box-shadow: $box-shadow;
    background-color: $light-background-color;

    @include post-info;

    h2 {
        font-weight: 300;
        padding: 10px 0 0 15px;
        &:hover {
            font-weight: 600;
        }
    }

    p {
        padding: 0 15px;
    }
}

.section-service {
    background-color: $light-background-color;
    padding: 50px 0;
}

.wrapper-service {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 350px;
    margin: 30px;

    i {
        font-size: 3.5em;
        font-family: $main-color-font;
        padding-bottom: 10px;
    }

    p {
        font-family: $main-font;
        color: $main-color-font;
        padding: 10px;
    }
}

.section-numbers {
    padding: 100px 0;
    background-color: $dark-background-color;

    .wrapper-numbers {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    
    .numbers-half {
        display: flex;
        flex-direction: column;
        line-height: 1.0;
    
        .numbers-heading {
            display: flex;

            h1 {
                font-size: 75px;
                color: $link-color;
            }

            h3 {
                font-size: 25px;
                color: $main-color-font;
                padding: 15px 0 0 5px;
                line-height: 1.1;
            }
        }

        h3 {
            font-size: 25px;
            color: $main-color-font;
        }
    }
}

.section-nutshell {
    padding: 50px 0;
    background-color: $light-background-color;
}

.wrapper-nutshell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nutshell-icon  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f1f1f1;

    i {
        font-size: 4em;
    }
}

.nutshell-third {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-200px);
    @include fade(ease-in);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 500px;
    margin: 30px;
    background-color: $light-background-color;
    border-top: 4px solid #1a1a1a;
    box-shadow:  $box-shadow;

    h4 {
        margin-top: 20px;
        font-size: 27px;
        font-weight: 900;
    }

    p {
        padding: 0 15px;
        font-size: 17px;
    }

    a {
        border: 1px solid $link-color;
        border-radius: 5%;
        font-family: $main-font;
        font-size: 16px;
        margin-bottom: 10px;
        padding: 7px;
        color: $link-color;
        @include unfade(ease-in);
        &:hover {
            color: #fefefe;
            background-color: $link-color;
            @include fade(ease-in);
        }
    }
    &.show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

/* Page Layout */
article.page-content {
    h2 {
        font-size: 21px;
        padding-top: 10px;
        color: $highlight-color-font;
    }

    p {
        font-size: 19px;
    }

    @include post-info;
}

/* Special page layouts */
.portfolio {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    max-width: 100%;
}

/* Page About Us */
.about-us {
    width: 30%;
    padding: 50px;
    margin: 0 auto;

    h2 {
        font-size: 31px !important;
        padding: 15px 0;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
    }
}

.about-us-background {
    width: 45%;
    height: 100%;
    background-image: url('./img/city.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Page Offer */
.section-air-condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/air.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1, h3 {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 72px;
    }

    h3 {
        font-size: 60px;
    }
}

.section-fiscal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/cafe.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1, h3 {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 72px;
    }

    h3 {
        font-size: 60px;
    }
}

.section-beam-scale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/workshop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1, h3 {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 72px;
    }

    h3 {
        font-size: 60px;
    }
}

/* Page Partners */
.wrapper-partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.section-quarter-partners {
    width: 21%;
    height: 100px;
    border-top: 2px solid #1a1a1a;
    margin: 50px 5px;
    text-align: center;
    background-color: #fefefe;
    box-shadow: $box-shadow;

    a {
        display: block;
        color: $link-color;
        font-family: $heading-font;
        font-size: 18px;
        padding: 10px;
        &:hover {
            font-weight: 900;
        }
    }

    p {
        font-size: 16px;
        padding: 0px 15px 15px 15px;
    }
}

/* Page Contact */
.wrapper-form {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.section-half-contact {
    width: 40%;

    h2 {
        margin-top: 10px;
    }

    i {
        margin: 25px 30px 0 0;
        font-size: 45px;
    }

    a {
        color: $main-color-font;
        @include unfade(ease-in);
        &:hover {
            color: $link-color;
            @include fade(ease-in);
        }
    }
}

/* Form template layout */
.form-article {
    h2 {
        margin-top: 25px;
    }
}

.contact-form {
    max-width: 28%;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
    font-family: $main-font;
    font-size: 15px;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    @include unfade(ease-in);
    &:hover {
        border: 1px solid #1a1a1a;
        @include fade(ease-in);
    }
}

.contact-form input[type=submit] {
    font-family: $main-font;
    font-size: 15px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $link-color;
    background-color: #fefefe;
    color: $link-color;
    @include unfade(ease-in);
    &:hover {
        background-color: $link-color;
        color: #fefefe;
        @include fade(ease-in);
    }

    &:focus {
        outline: none;
    }
}

.contact-form textarea {
    resize: none;
}

/* Footer */
footer.site-footer {
    display: flex;
    flex-shrink: 0;
    background-color: $footer-background-color;
    width: 100%;
    height: 280px;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

.footer-half {
    display: flex;
    flex-direction: row;
    height: 100%;

    h1 {
        text-transform: uppercase;
        font-size: 26px;
        color: $footer-text-color;
        padding-bottom: 10px;
    }

    p {
        font-size: 17px;
        color: $footer-text-color;
        padding-bottom: 7px;
    }

    i {
        padding-right: 10px;
    }
}

.footer-cc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #bebebe;

    p {
        padding: 30px 0 20px 35px;
        color: $footer-text-color;
    }

    i {
        padding: 30px 20px 20px 0;
        font-size: 30px;
    }

    a {
        color: $main-color-font;
        @include unfade(ease-in);
        &:hover {
            color: $link-color;
            @include fade(ease-in);
        }
    }
}

/* Footer Google Map */
#map {
    width: 500px;
    height: 200px;
}