/*
Theme name: gTheme
Author: theBumbs
Author URI: ;
Licence: ;
Licence URI: ;
Version: 1.1.1
Description: Personalized Wordpress theme for a local IT company.
*/
div#n2-ss-2 .n2-ss-layers-container {
  margin: 0 250px !important; }

div#n2-ss-2 .n2-font-502a7c6c4bdf52f375de6b9bdd548c3a-link a,
div#n2-ss-2 .n2-font-2318d4088af496b010c77f4b1c842a96-link a,
div#n2-ss-2 .n2-font-3833c7109bf792dc4d24d9808e3b366f-link a {
  -webkit-transition: ease-in;
  -moz-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  div#n2-ss-2 .n2-font-502a7c6c4bdf52f375de6b9bdd548c3a-link a:hover,
  div#n2-ss-2 .n2-font-2318d4088af496b010c77f4b1c842a96-link a:hover,
  div#n2-ss-2 .n2-font-3833c7109bf792dc4d24d9808e3b366f-link a:hover {
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

.respond-header {
  display: none; }

.error404 {
  display: flex;
  background-color: #ffffff; }

.wrapper-error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .wrapper-error404 h1 {
    font-size: 8em;
    color: #dcdcdc; }
  .wrapper-error404 p {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: #333; }
  .wrapper-error404 a {
    font-size: 24px;
    font-family: "Open Sans", sans-serif; }
    .wrapper-error404 a:hover {
      border-bottom: 1px solid #d30c09dc; }
  .wrapper-error404 i.fa-dizzy {
    font-size: 200px;
    color: #333;
    padding: 0 25px; }
  .wrapper-error404 i.fa-backward {
    padding-right: 15px; }

#not-found-heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #333; }

#not-found-text {
  padding-top: 10px; }

.respond-header {
  visibility: hidden; }

.thank-you {
  display: flex; }

.wrapper-thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .wrapper-thank-you h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    margin-bottom: 10x; }
  .wrapper-thank-you a {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: #d30c09dc;
    padding-top: 10px; }
    .wrapper-thank-you a:hover {
      border-bottom: 1px solid #d30c09dc; }
  .wrapper-thank-you i.fa-backward {
    padding-right: 5px; }
  .wrapper-thank-you i.fa-check-circle {
    font-size: 150px;
    color: #333;
    padding: 25px 0; }

/* General layout */
body, html {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  background-attachment: fixed; }

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  color: #333;
  margin: 0; }

p {
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin: 0; }

a {
  text-decoration: none;
  color: #d30c09dc;
  margin: 0;
  padding: 0; }
  a:visited {
    color: #d30c09dc; }

.container {
  flex: 1;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0; }

/* Header */
header.home-header, header.page-header {
  display: flex;
  flex-shrink: 0;
  width: 100%; }

header.page-header {
  position: initial;
  background-color: #fefefe; }

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%; }

/* Navigation menu */
.main-nav ul {
  margin: 0;
  padding: 0; }

.main-nav li {
  list-style: none;
  float: left;
  padding: 0 10px;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: ease-in;
  -moz-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .main-nav li:hover {
    border-bottom: 2px solid #d30c09dc;
    background-color: #f1f1f1;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .main-nav li.current-menu-item {
    border-bottom: 2px solid #d30c09dc;
    background-color: #f1f1f1; }

.main-nav a {
  content: '';
  display: block;
  padding: 30px 10px 15px 10px;
  color: #1a1a1a; }

/* Front Page Layout */
.hero {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #f1f1f1; }
  .hero p {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 10px; }

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 1280px;
  margin: 0 auto;
  height: 80vh; }

.section-news {
  background-color: #f1f1f1; }
  .section-news h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    margin: 35px 0; }

.articles {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto; }

.recent-post {
  margin: 0 30px 50px 30px;
  width: 30%;
  height: 450px;
  box-shadow: 0 8px 8px rgba(37, 37, 37, 0.2);
  background-color: #fefefe; }
  .recent-post p.post-info {
    font-size: 13px;
    font-weight: 600;
    color: #333;
    margin: 0;
    padding: 0 0 10px 15px; }
  .recent-post h2 {
    font-weight: 300;
    padding: 10px 0 0 15px; }
    .recent-post h2:hover {
      font-weight: 600; }
  .recent-post p {
    padding: 0 15px; }

.section-service {
  background-color: #fefefe;
  padding: 50px 0; }

.wrapper-service {
  display: flex;
  flex-direction: row;
  width: 100%; }

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 350px;
  margin: 30px; }
  .service i {
    font-size: 3.5em;
    font-family: #333;
    padding-bottom: 10px; }
  .service p {
    font-family: "Open Sans", sans-serif;
    color: #333;
    padding: 10px; }

.section-numbers {
  padding: 100px 0;
  background-color: #f1f1f1; }
  .section-numbers .wrapper-numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
  .section-numbers .numbers-half {
    display: flex;
    flex-direction: column;
    line-height: 1.0; }
    .section-numbers .numbers-half .numbers-heading {
      display: flex; }
      .section-numbers .numbers-half .numbers-heading h1 {
        font-size: 75px;
        color: #d30c09dc; }
      .section-numbers .numbers-half .numbers-heading h3 {
        font-size: 25px;
        color: #333;
        padding: 15px 0 0 5px;
        line-height: 1.1; }
    .section-numbers .numbers-half h3 {
      font-size: 25px;
      color: #333; }

.section-nutshell {
  padding: 50px 0;
  background-color: #fefefe; }

.wrapper-nutshell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.nutshell-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f1f1f1; }
  .nutshell-icon i {
    font-size: 4em; }

.nutshell-third {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-200px);
  -webkit-transition: ease-in;
  -moz-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 500px;
  margin: 30px;
  background-color: #fefefe;
  border-top: 4px solid #1a1a1a;
  box-shadow: 0 8px 8px rgba(37, 37, 37, 0.2); }
  .nutshell-third h4 {
    margin-top: 20px;
    font-size: 27px;
    font-weight: 900; }
  .nutshell-third p {
    padding: 0 15px;
    font-size: 17px; }
  .nutshell-third a {
    border: 1px solid #d30c09dc;
    border-radius: 5%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 7px;
    color: #d30c09dc;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .nutshell-third a:hover {
      color: #fefefe;
      background-color: #d30c09dc;
      -webkit-transition: ease-in;
      -moz-transition: ease-in;
      -o-transition: ease-in;
      transition: ease-in;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
  .nutshell-third.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); }

/* Page Layout */
article.page-content h2 {
  font-size: 21px;
  padding-top: 10px;
  color: #850200; }

article.page-content p {
  font-size: 19px; }

article.page-content p.post-info {
  font-size: 13px;
  font-weight: 600;
  color: #333;
  margin: 0;
  padding: 0 0 10px 15px; }

/* Special page layouts */
.portfolio {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  max-width: 100%; }

/* Page About Us */
.about-us {
  width: 30%;
  padding: 50px;
  margin: 0 auto; }
  .about-us h2 {
    font-size: 31px !important;
    padding: 15px 0; }
  .about-us p {
    font-size: 18px;
    line-height: 1.5; }

.about-us-background {
  width: 45%;
  height: 100%;
  background-image: url("./img/city.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* Page Offer */
.section-air-condition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/air.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .section-air-condition h1, .section-air-condition h3 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 72px; }
  .section-air-condition h3 {
    font-size: 60px; }

.section-fiscal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/cafe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .section-fiscal h1, .section-fiscal h3 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 72px; }
  .section-fiscal h3 {
    font-size: 60px; }

.section-beam-scale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/workshop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .section-beam-scale h1, .section-beam-scale h3 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 72px; }
  .section-beam-scale h3 {
    font-size: 60px; }

/* Page Partners */
.wrapper-partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%; }

.section-quarter-partners {
  width: 21%;
  height: 100px;
  border-top: 2px solid #1a1a1a;
  margin: 50px 5px;
  text-align: center;
  background-color: #fefefe;
  box-shadow: 0 8px 8px rgba(37, 37, 37, 0.2); }
  .section-quarter-partners a {
    display: block;
    color: #d30c09dc;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 10px; }
    .section-quarter-partners a:hover {
      font-weight: 900; }
  .section-quarter-partners p {
    font-size: 16px;
    padding: 0px 15px 15px 15px; }

/* Page Contact */
.wrapper-form {
  display: flex;
  flex-direction: row;
  margin-top: 25px; }

.section-half-contact {
  width: 40%; }
  .section-half-contact h2 {
    margin-top: 10px; }
  .section-half-contact i {
    margin: 25px 30px 0 0;
    font-size: 45px; }
  .section-half-contact a {
    color: #333;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .section-half-contact a:hover {
      color: #d30c09dc;
      -webkit-transition: ease-in;
      -moz-transition: ease-in;
      -o-transition: ease-in;
      transition: ease-in;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }

/* Form template layout */
.form-article h2 {
  margin-top: 25px; }

.contact-form {
  max-width: 28%; }

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  -webkit-transition: ease-in;
  -moz-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .contact-form input[type=text]:hover,
  .contact-form input[type=email]:hover,
  .contact-form textarea:hover {
    border: 1px solid #1a1a1a;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

.contact-form input[type=submit] {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d30c09dc;
  background-color: #fefefe;
  color: #d30c09dc;
  -webkit-transition: ease-in;
  -moz-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .contact-form input[type=submit]:hover {
    background-color: #d30c09dc;
    color: #fefefe;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .contact-form input[type=submit]:focus {
    outline: none; }

.contact-form textarea {
  resize: none; }

/* Footer */
footer.site-footer {
  display: flex;
  flex-shrink: 0;
  background-color: #bebebea8;
  width: 100%;
  height: 280px; }

.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0; }

.footer-half {
  display: flex;
  flex-direction: row;
  height: 100%; }
  .footer-half h1 {
    text-transform: uppercase;
    font-size: 26px;
    color: #1a1a1a;
    padding-bottom: 10px; }
  .footer-half p {
    font-size: 17px;
    color: #1a1a1a;
    padding-bottom: 7px; }
  .footer-half i {
    padding-right: 10px; }

.footer-cc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #bebebe; }
  .footer-cc p {
    padding: 30px 0 20px 35px;
    color: #1a1a1a; }
  .footer-cc i {
    padding: 30px 20px 20px 0;
    font-size: 30px; }
  .footer-cc a {
    color: #333;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .footer-cc a:hover {
      color: #d30c09dc;
      -webkit-transition: ease-in;
      -moz-transition: ease-in;
      -o-transition: ease-in;
      transition: ease-in;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }

/* Footer Google Map */
#map {
  width: 500px;
  height: 200px; }
